<a class="snippetPkgExtranetAddressBasketItem {% if bActive%}active{% endif %}" href="#" onclick="SetSelectedAddress('{{sAddressId|e('js')}}','');return false;">
    {% include "pkgExtranet/address/address.html.twig" %}
</a>

