{#
    description: an text teaser with image on left side and text and optional link on the right
    parameters:
        ** sTitle
        ** sText
        ** aLink optional if not given no link will be rendered
            ** sLinkURL
            ** sTitle
            ** sLinkFont
            ** sLinkColor
            ** sLinkIconClass
  )
#}
{% extends '/common/textBlock/textBlockStandard.html.twig' %}

{%block headline %}
        <h1 class="headline3">{{sTitle}}</h1>
{%endblock%}
