{#
  description: shows the standard teaser with standard-ShopArticleExtended as hover state
  variables:
    - the data required by standard-shopArticleExtended.html.twig
#}

<div class="snippetTeaserStandardWithHover">
    <div class="visible row">{% include "/common/teaser/standard-shopArticle.html.twig" %}</div>
    <div class="hover row">{% include "/common/teaser/standard-shopArticleExtendedWithQuickshopping.html.twig" %}</div>
</div>