{#
    description: an text teaser with image on left side and text and optional link on the right
    parameters:
        ** see /common/textBlock/textBlockMediumHeadline.html.twig
  )
#}
{% extends '/common/textBlock/textBlockMediumHeadline.html.twig' %}

{% block main %}
    <div class="shopCategoryDescriptionSnippet">
        {{ parent() }}
    </div>
{% endblock %}

{%block headline %}{% endblock %}
{% block sTeaserText %}{% endblock %}
{%block imageTag %}{% endblock %}