<div class="form-group">
    <div {% if sButtonClass is defined %}class="input-group {{sButtonClass}}"{% endif %}>
        <input type="submit" class="btn btn-success" value="{{sButtonText}}" />
    </div>
</div>