
<span class="snippetUserInputButtonAddToNoticeList">
    <a class="{{("btn btn-default "~spanBlock)|trim}}" href="{{sNoticeListLink | raw}}">
        <span class="flag">&nbsp;</span>
        {{sButtonText|default('chameleon_system_chameleon_shop_theme.notice_list.action_add'|trans)}}
    </a>
</span>