
<span class="snippetUserInputButtonAddToNoticeList">
    <a class="btn btn-default {{spanBlock}}" href="{{sRemoveNoticeListLink | raw}}">
        <span class="flag">&nbsp;</span>
        {{sButtonText|default('chameleon_system_chameleon_shop_theme.notice_list.action_remove')|trans}}
    </a>
</span>