{#
    description: shows the add to basket button with amount input and add to notice list button
    vars
        /common/userInput/buttonAddToBasket.html.twig
        /common/userInput/buttonAddToNoticeList.html.twig
#}

<div class="snippetUserInputButtonAddToBasketOrNoticeList">
    {% include "/common/userInput/buttonAddToBasket.html.twig" %}
    {% include "/common/userInput/buttonAddToNoticeList.html.twig" %}
</div>